<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--        <filter  class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
        <!-- 控制台输出格式 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n)</Pattern>
        </layout>

    </appender>

    <timestamp key="bySecond" datePattern="yyyy-MM-dd_HHmmss"/>
    <property name="log.dir" value="./logs" />
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${log.dir}/${bySecond}.log</file>
        <append>true</append>

        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
<!--    <appender name="detailedFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${log.dir}/logback-detail.log</file>-->
<!--        <append>true</append>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}-detail.zip</fileNamePattern>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <Pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n)</Pattern>-->
<!--        </encoder>-->

<!--    </appender>-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="fileAppender" />
    </root>

</configuration>
